@import url("https://fonts.googleapis.com/css2?family=Wittgenstein:ital,wght@0,400..900;1,400..900&display=swap");
@import "./normalize.css";
@import "./media.css";


.p-2 {
  padding: 14px 60px;
}

.mr-1 {
  margin-right: 1em;
}

.font-2 {
  font-size: 2em;
}

.font-bold {
  font-weight: bold;
}

.bg-light {
  background: white;
}

.underlined-text {
  text-decoration: underline;
}

/* Header и навигация */
.header,
.nav-horizontal,
.container-cards,
.card,
.list-footer {
  display: flex;
  flex-wrap: wrap;
}

.header {
  align-items: center;
  justify-content: space-between;
  background-image: linear-gradient(
    43deg,
    #fae8e8 0%,
    #f1d5ef 46%,
    #fcf0db 100%
  );
  border-bottom: 1px solid #e0dfdf;
}

.nav-horizontal {
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-horizontal li,
.nav-horizontal a {
  color: #424e75;
  text-decoration: none;
  font-size: 18px;
  transition: 0.4s;
}

.nav-horizontal li:hover {
  transform: scale(1.1);
}

.font-logo {
  padding-left: 5px;
  text-decoration: overline;
}

#burger,
[for="burger"] {
  display: none;
}

@media (min-width: 300px) and (max-width: 650px) {
  [for="burger"] {
    display: block;
    height: 50px;
    width: 50px;
  }

  [for="burger"]::before {
    display: inline-block;
    background: url("/menu.png") no-repeat;
    background-size: contain;
    height: 50px;
    width: 50px;

    cursor: pointer;

    content: "";
  }

  nav {
    display: none;
  }

  #burger:checked + label + nav {
    display: block;
  }

  .nav ul {
    display: block;
  }

  .nav li {
    padding-right: 0;
    padding-left: 0;
  }
}

/* Карточки */
.container-cards {
  width: 100%;
  margin: 0 auto;
  gap: 5px;
  justify-content: center;
}

.card {
  flex-direction: column;
  padding: 20px;
  border: 1px solid black;
  transition: 0.5s;
  border-radius: 10px;
  background-image: linear-gradient(
    43deg,
    #c9d0f5 0%,
    #f0bfec 46%,
    #fce7c0 100%
  );
}

.card:hover {
  transform: scale(1.1);
}

.title-card {
  padding: 20px 0;
}

.button-buy {
  background-color: rgb(200, 240, 184);
  border: 1px solid white;
  border-radius: 10px;
  margin-top: auto;
  padding: 5px 1px;
  height: 50px;
  font-size: 16px;
  cursor: pointer;
  color: black;
}

.button-buy:hover {
  background-color: rgb(242, 248, 239);
}

.card-item {
  padding-bottom: 5px;
}

.list {
  list-style-type: disclosure-closed;
}

/* Заголовки и текст */
.title-container,
.title-additiniol {
  text-align: center;
}

.title-container {
  padding: 50px 0 30px;
}

.title-container p {
  padding-top: 10px;
  font-size: 18px;
}

.additional-subscription {
  margin: 100px 0 30px;
}

.title-additiniol {
  margin-bottom: 30px;
}

/* Футер */
.container-footer {
  margin-top: 100px;
  border-top: 1px solid rgb(204, 200, 200);
  padding: 25px 0;
  background-image: linear-gradient(
    43deg,
    #f1dede 0%,
    #f7e7f6 46%,
    #f3e9d8 100%
  );
}

.container-footer p {
  text-align: center;
  padding-top: 10px;
}

.list-footer {
  justify-content: center;
  flex-direction: row;
  list-style-type: none;
  gap: 10px;
}

.list-footer a {
  color: black;
}
